.DS_Store
.git
.gitignore
.qodo
*.zip

backend/.env
backend/.venv
backend/.venv311
backend/.venv_broken
backend/.venv_clean
backend/__pycache__
backend/app/__pycache__
backend/app/routes/__pycache__
backend/app/services/__pycache__
backend/tests/__pycache__
backend/instance

frontend/node_modules
frontend/.vite

instance
